body{
    background-color:  #c3defa;
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* background-color: #fff; */
    background-image: url('https://acko-cms.ackoassets.com/driving_license_renewal_in_delhi_b703d408f7.png');
    
    background-position: 50%;
    background-position: top;
    
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 90px;
    border-radius:15px;
    box-shadow:4px 4px 4px 4px rgba(216, 102, 102, 0.2); 
    text-align: center;
    max-width: 400px;
    width: 100%;
}
h1{
    position: absolute;
    top:180px;
    left: 520px;;
    color:#ff0026;
    margin-bottom: 20px;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
button{
    background-color: #3498db;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
}
button:hover{
    background-color:#2980b9 ;
}